<form class="login-form">
  <input type="text" id="username-login" placeholder="Username">
  <input type="password" id="password-login" placeholder="Password">
  <button type="submit">Login</button>
</form>
<a href="/signup">Sign Up</a>
